openapi: 3.0.3

info:
  title: Fintech Payment API
  description: |
    A fictional API demonstrating an end-to-end fintech payment
    integration for portfolio and educational purposes.

    The API demonstrates authentication, account management,
    beneficiary management, fiat payments, crypto transactions,
    wallet whitelisting, idempotency, transaction status tracking,
    and webhook event flows.
  version: 1.0.0

servers:
  - url: https://api.example-fintech.com
    description: Fictional Sandbox Environment

tags:
  - name: Authentication
  - name: Accounts
  - name: Beneficiaries
  - name: Payments
  - name: Transactions
  - name: Crypto
  - name: Webhooks

paths:

  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Obtain access token
      operationId: obtainAccessToken
      description: Authenticate the client and obtain an OAuth access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
              properties:
                client_id:
                  type: string
                  example: demo_client
                client_secret:
                  type: string
                  example: demo_secret
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              example:
                access_token: demo_access_token
                token_type: Bearer
                expires_in: 3600

        "401":
          description: Invalid credentials

  /accounts:
    post:
      tags:
        - Accounts
      summary: Create fiat account
      operationId: createAccount
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currency
              properties:
                currency:
                  type: string
                  example: EUR
      responses:
        "201":
          description: Account created
          content:
            application/json:
              example:
                account_id: acc_123456
                currency: EUR
                status: ACTIVE

        "400":
          description: Invalid account request

        "401":
          description: Unauthorized

  /beneficiaries:
    post:
      tags:
        - Beneficiaries
      summary: Create beneficiary
      operationId: createBeneficiary
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - currency
                - iban
              properties:
                name:
                  type: string
                  example: Demo Merchant
                currency:
                  type: string
                  example: EUR
                iban:
                  type: string
                  example: DE89370400440532013000
      responses:
        "201":
          description: Beneficiary created
          content:
            application/json:
              example:
                beneficiary_id: ben_123456
                status: ACTIVE

        "400":
          description: Invalid beneficiary details

        "401":
          description: Unauthorized

  /payments:
    post:
      tags:
        - Payments
      summary: Initiate fiat payment
      operationId: initiatePayment
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: |
            Unique key used to prevent duplicate payment creation
            when the same request is retried.
          schema:
            type: string
            example: payment-demo-123456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
                - beneficiary_id
                - amount
                - currency
              properties:
                account_id:
                  type: string
                  example: acc_123456
                beneficiary_id:
                  type: string
                  example: ben_123456
                amount:
                  type: number
                  format: double
                  example: 2500.00
                currency:
                  type: string
                  example: EUR
                reference:
                  type: string
                  example: Invoice-1001
      responses:
        "201":
          description: Payment created
          content:
            application/json:
              example:
                payment_id: pay_123456
                status: PENDING
                amount: 2500.00
                currency: EUR

        "400":
          description: Invalid payment request

        "401":
          description: Unauthorized

        "409":
          description: Duplicate or conflicting idempotency key

  /payments/{paymentId}:
    get:
      tags:
        - Transactions
      summary: Get payment status
      operationId: getPaymentStatus
      security:
        - bearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
          example: pay_123456
      responses:
        "200":
          description: Payment status
          content:
            application/json:
              example:
                payment_id: pay_123456
                status: COMPLETED
                amount: 2500.00
                currency: EUR

        "401":
          description: Unauthorized

        "404":
          description: Payment not found

  /crypto/accounts:
    post:
      tags:
        - Crypto
      summary: Create crypto account
      operationId: createCryptoAccount
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - asset
                - network
              properties:
                asset:
                  type: string
                  example: USDC
                network:
                  type: string
                  example: Ethereum
      responses:
        "201":
          description: Crypto account created
          content:
            application/json:
              example:
                account_id: crypto_acc_123456
                asset: USDC
                network: Ethereum
                status: ACTIVE

        "400":
          description: Invalid crypto account request

        "401":
          description: Unauthorized

  /crypto/wallets/whitelist:
    post:
      tags:
        - Crypto
      summary: Add destination wallet to whitelist
      operationId: whitelistCryptoWallet
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
                - asset
                - network
                - wallet_address
              properties:
                account_id:
                  type: string
                  example: crypto_acc_123456
                asset:
                  type: string
                  example: USDC
                network:
                  type: string
                  example: Ethereum
                wallet_address:
                  type: string
                  example: "0xDemoWalletAddress"
                label:
                  type: string
                  example: Treasury Wallet
      responses:
        "201":
          description: Wallet added to whitelist
          content:
            application/json:
              example:
                wallet_id: wallet_123456
                status: WHITELISTED
                asset: USDC
                network: Ethereum

        "400":
          description: Invalid wallet details

        "401":
          description: Unauthorized

  /crypto/transactions:
    post:
      tags:
        - Crypto
      summary: Create crypto transaction
      operationId: createCryptoTransaction
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: |
            Unique key used to prevent duplicate crypto transaction
            creation when the same request is retried.
          schema:
            type: string
            example: crypto-demo-123456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
                - wallet_id
                - asset
                - network
                - amount
              properties:
                account_id:
                  type: string
                  example: crypto_acc_123456
                wallet_id:
                  type: string
                  example: wallet_123456
                asset:
                  type: string
                  example: USDC
                network:
                  type: string
                  example: Ethereum
                amount:
                  type: number
                  format: double
                  example: 500
      responses:
        "201":
          description: Crypto transaction created
          content:
            application/json:
              example:
                transaction_id: crypto_123456
                status: PENDING
                asset: USDC
                network: Ethereum
                amount: 500

        "400":
          description: Invalid crypto transaction request

        "401":
          description: Unauthorized

        "409":
          description: Duplicate or conflicting idempotency key

  /crypto/transactions/{transactionId}:
    get:
      tags:
        - Crypto
      summary: Get crypto transaction status
      operationId: getCryptoTransactionStatus
      security:
        - bearerAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          example: crypto_123456
      responses:
        "200":
          description: Crypto transaction status
          content:
            application/json:
              example:
                transaction_id: crypto_123456
                status: CONFIRMED
                asset: USDC
                network: Ethereum
                amount: 500

        "401":
          description: Unauthorized

        "404":
          description: Crypto transaction not found

  /webhooks/payment:
    post:
      tags:
        - Webhooks
      summary: Payment status webhook example
      operationId: paymentStatusWebhook
      description: |
        Example webhook payload representing a payment status
        event delivered from the fintech platform to a client
        application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
                - payment_id
                - status
                - timestamp
              properties:
                event:
                  type: string
                  example: payment.status_changed
                payment_id:
                  type: string
                  example: pay_123456
                status:
                  type: string
                  example: COMPLETED
                timestamp:
                  type: string
                  format: date-time
                  example: "2026-08-29T12:00:00Z"
      responses:
        "200":
          description: Webhook received successfully

  /webhooks/crypto:
    post:
      tags:
        - Webhooks
      summary: Crypto transaction webhook example
      operationId: cryptoTransactionStatusWebhook
      description: |
        Example webhook payload representing a crypto transaction
        status event delivered from the fintech platform to a
        client application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
                - transaction_id
                - status
                - asset
                - network
                - timestamp
              properties:
                event:
                  type: string
                  example: crypto.transaction.status_changed
                transaction_id:
                  type: string
                  example: crypto_123456
                status:
                  type: string
                  example: CONFIRMED
                asset:
                  type: string
                  example: USDC
                network:
                  type: string
                  example: Ethereum
                timestamp:
                  type: string
                  format: date-time
                  example: "2026-08-29T12:00:00Z"
      responses:
        "200":
          description: Webhook received successfully

components:

  securitySchemes:

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
